svg(viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg" id="animation__svg")
    def(fill="red" stroke="rgba(0, 0, 0, 0.4)")
        line(x1="0" y1="0" x2="0" y2="600")
        line(x1="100" y1="0" x2="100" y2="600")
        line(x1="200" y1="0" x2="200" y2="600")
        line(x1="300" y1="0" x2="300" y2="600")
        line(x1="400" y1="0" x2="400" y2="600")
        line(x1="500" y1="0" x2="500" y2="600")
        line(x1="600" y1="0" x2="600" y2="600")

        line(x1="0" y1="0" x2="600" y2="0")
        line(x1="0" y1="100" x2="600" y2="100")
        line(x1="0" y1="200" x2="600" y2="200")
        line(x1="0" y1="300" x2="600" y2="300")
        line(x1="0" y1="400" x2="600" y2="400")
        line(x1="0" y1="500" x2="600" y2="500")
        line(x1="0" y1="600" x2="600" y2="600")

    polygon(id="polygon_1" points="290,10 10,210 250,250 350,150" fill="rgba(238, 229, 233, 0.5)")
    polygon(id="polygon_2" points="170,170 10,210 250,250 350,150" fill="rgba(238, 229, 233, 0.5)")
    polygon(id="polygon_3" points="290,10 350,150 250,250 170,170" fill="rgba(238, 229, 233, 0.5)")
    polygon(id="polygon_4" points="290,10 440,40 350,150 250,250" fill="rgba(238, 229, 233, 0.5)")
    polygon(id="polygon_5" points="290,10 350,150 250,250 170,170" fill="rgba(238, 229, 233, 0.5)")
    polygon(id="polygon_6" points="350,150 440,40 410,210 370,370" fill="rgba(238, 229, 233, 0.5)")
    polygon(id="polygon_7" points="10,210 250,250 410,210 370,370" fill="rgba(238, 229, 233, 0.5)")
    polygon(id="polygon_8" points="250,250 350,150 410,210 370,370" fill="rgba(238, 229, 233, 0.5)")
    polygon(id="polygon_9" points="350,150 510,180 410,210" fill="rgba(238, 229, 233, 0.5)")
    
    circle(id="circle_1" cx="290" cy="10" r="10" fill="#FFBCB5")
    circle(id="circle_2" cx="10" cy="210" r="10" fill="#FFBCB5")
    circle(id="circle_3" cx="250" cy="250" r="10" fill="#FFBCB5")
    circle(id="circle_4" cx="350" cy="150" r="10" fill="#FFBCB5")
    circle(id="circle_5" cx="170" cy="170" r="10" fill="#FFBCB5")
    circle(id="circle_6" cx="440" cy="40" r="10" fill="#FFBCB5")
    circle(id="circle_7" cx="510" cy="180" r="10" fill="#FFBCB5")
    circle(id="circle_8" cx="410" cy="210" r="10" fill="#FFBCB5")
    circle(id="circle_9" cx="370" cy="370" r="10" fill="#FFBCB5")
