$montserrat-black: 'mon-black';
$montserrat-bold: 'mon-bold';
$montserrat-italic: 'mon-italic';
$montserrat-light: 'mon-light';
$montserrat-roman: 'mon-roman';
$montserrat-thin: 'mon-thin';
$montserrat-ultraLight: 'mon-ultraLight';

$pink: #EEE5E9;
$grey: #7C7C7C;
$dark-grey: #383D3B;